# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Dependencies
node_modules/
vendor/

# Build
dist/
build/
out/
target/
.gradle/
buildSrc/build/

# Runtime
*.sqlite
*.db
